#!/bin/sh

pid=`ps -ef | grep "db_data_clear.py [NETWORK_ID]" | grep -v grep | /usr/bin/awk '{print $2}'`

cd "[CUR_PATH]"

# echo ${pid}
date >> backend_db_data_clear.log

if [ ! ${pid} ]; then
        # echo "is null"
        echo "No backend process rubbish to clean." >> backend_db_data_clear.log
else
        # echo "not null"
        kill -s 9 ${pid}
        echo "Warning: clean backend process of last round." >> backend_db_data_clear.log
fi
. ../venv/bin/activate
python db_data_clear.py [NETWORK_ID] >> backend_db_data_clear.log
echo 'OK'